html, body { overflow: -moz-scrollbars-none; margin: 0; height: 100%; }
.canvasRect 
{
    color: black;
    width: 100%;
    height: 100%;
}
.buttonBar
{
    position: absolute;
    pointer-events:none;
}
.button 
{
    pointer-events:all;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 8px 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.smallButton
{
    pointer-events:all;
    border: none;
    border-radius: 25%;
    outline: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 8px 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.optionButton
{
    background-color: #2C2F33; 
    color: white;
}
.optionButton:hover
{
    border-radius: 20%;
    transform: scale(1.05);
    background-color: #373a3f;
    color: white;
}
.optionButton:active
{
    transform: scale(0.95);
    background-color: #373a3f;
    color: white;
}
.resetcanvas 
{
    border-radius: 15px;
    background-color: #2C2F33; 
    color: white;
}
.resetcanvas:hover 
{
    transform: scale(1.025);
    border-radius: 10px;
    background-color: #373a3f;
    color: white;
}
.resetcanvas:active
{
    transform: scale(0.95);
    border-radius: 15px;
    background-color: #40444b;
    color: white;
}

.buttonselected
{
    background-color: #4f5663;
}

.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.noselect 
{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}